<!DOCTYPE html>
<html>
    <head>
        <title>Scrabble Score Generator</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel='stylesheet' href='/css/styles.css'>
    </head>
    <body>
        <div class="container">
            <h1>Scrabble Score Generator</h1>
            <form action="/result">
                <div class="form-group">
                    <label for="word">Enter a word to get your score</label>
                    <input id="word" name="word" class="form-control" type="text" placeholder='Enter your Scrabble word'>
                </div>
                <button type="submit" class="btn btn-primary" class='btn'>Generate Score</button>
            </form>
        </div>
    </body>
</html>
